<div class="sidebar">
  <div class="row">
    <img src="https://avatars3.githubusercontent.com/u/8210711?v=2&s=100" alt="Todd Hancock" class="pull-left avatar">
  </div>

  <br />
  <p><a href="https://twitter.com/thancock20" target="_blank" class="btn btn-primary"><i class="fa fa-twitter fa-lg"></i> Twitter</a></p>
  <p><a href="https://github.com/thancock20" target="_blank" class="btn btn-primary"><i class="fa fa-github fa-lg"></i> GitHub</a></p>
  <p><a href="https://www.linkedin.com/pub/todd-hancock/109/24a/8a4" target="_blank" class="btn btn-primary"><i class="fa fa-linkedin-square fa-lg"></i> LinkedIn</a></p>
  <p><a href="http://www.freecodecamp.com/thancock20" target="_blank" class="btn btn-primary"><i class="fa fa-free-code-camp fa-lg'></i>freeCodeCamp </a></p>
</div>
    
