  <p>
    <div class="media">
      <img src="https://avatars3.githubusercontent.com/u/8210711?v=2&s=100" alt="Todd Hancock" class="pull-left">
      <div class="media-body">
        <h4 class="media-heading">Todd Hancock</h4>
      </div>
    </div>
  </p>

  <p><a href="https://twitter.com/thancock20" class="twitter-follow-button" data-show-screen-name="false" data-show-count="true" data-dnt="true" data-size="large">Follow @thancock20</a></p>

<br />

<h3>
  Also on:
</h3>

<p><a href="https://github.com/thancock20" target="_blank" class="btn btn-default"><i class="fa fa-github fa-lg"></i> GitHub</a></p>
<p><a href="https://www.linkedin.com/pub/todd-hancock/109/24a/8a4" target="_blank" class="btn btn-default"><i class="fa fa-linkedin-square fa-lg"></i> LinkedIn</a></p>
<p><a href="http://www.freecodecamp.com/thancock20" target="_blank" class="btn btn-default"><i class="fa fa-fire fa-lg"></i> freeCodeCamp</a></p>
