// Add your own custom CSS here.
@import "manni";

.post-content img,
.post-excerpt-home img,
.post-nav img {
  @extend .img-rounded;
}
.post-content table,
.post-excerpt-home table,
.post-nav table {
  @extend .table;
  @extend .table-bordered;
}

.highlight td {
  padding: 0 !important;
}

.highlight pre {
  margin-bottom: 0;
}

.lineno {
  padding: 13px 0;
}

.portfolio-item {
  border-color: #3598db;

  h2 {
    color: #3598db;
  }
}

.portfolio-item:hover {
  border-color: #ff5b1f;

  h2 {
    color: #ff5b1f;
  }
}

.portfolio-item h2 {
  margin: 10px 0 !important;
}

.portfolio-item p {
  margin-top: 10px;
}

.btn-primary:hover {
  color: #ff5b1f;
  border-color: #ff5b1f;
  background-color: #fff;
}

.avatar {
  border-radius: 50%;
  margin-left: 20px;
}

.sidebar {
  padding-left: 20px;
}

#header {
  // height: 100%;
  // height: 100vh;
  // width: 50%;
  // width: 50vw;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("https://lh3.googleusercontent.com/-oNkT9rQ7BDg/Vw8jyDWAEMI/AAAAAAAAEeY/gBJtZqhVSgYD_twPXcEuz5zdwI_55CQlQCCo/s800-Ic42/computers.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: #FFF;
}

.vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 991px) {
  .vertical-center {
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .gravatar {
    width: 100px;
    height: 100px;
  }

  .vertical-center {
    flex-direction: row;
  }
}

@media (max-width: 434px) {
  .vertical-center {
    flex-direction: column;
  }
}
