// Add your own custom CSS here.
@import "manni";

.post-content img,
.post-excerpt-home img,
.post-nav img {
  @extend .img-rounded;
}
.post-content table,
.post-excerpt-home table,
.post-nav table {
  @extend .table;
  @extend .table-bordered;
}

.highlight td {
  padding: 0 !important;
}

.highlight pre {
  margin-bottom: 0;
}

.lineno {
  padding: 13px 0;
}

.portfolio-item {
  border-color: #3598db;

  h2 {
    color: #3598db;
  }
}

.portfolio-item:hover {
  border-color: #ff5b1f;

  h2 {
    color: #ff5b1f;
  }
}

.portfolio-item h2 {
  margin: 10px 0 !important;
}

.portfolio-item p {
  margin-top: 10px;
}

.btn-primary:hover {
  color: #ff5b1f;
  border-color: #ff5b1f;
  background-color: #fff;
}
